@if (File != null)
{
    <span class="folder-path text-primary">@File.Dir/</span><span>@File.RelativeName</span>
}
else
{
    <i>stale</i>
}

@code {
    [Parameter]
    public Api.Contracts.Models.FileData? File { get; set; }
}
