@using Sortcery.Web.Services.Contracts
@inject IFoldersService FoldersService

@if (File != null)
{
    <span class="folder-path text-primary">@(File.Dir)@FoldersService.DirectorySeparator</span><span>@(RelativePath)</span>
}
else
{
    <i>stale</i>
}

@code {
    [Parameter]
    public Api.Contracts.Models.FileData? File { get; set; }

    public string? RelativePath =>
        !string.IsNullOrEmpty(File?.Path)
            ? TrimEndDirectorySeparator(File.Path) + FoldersService.DirectorySeparator + File.Name
            : File?.Name;

    private string TrimEndDirectorySeparator(string path) =>
        path.EndsWith(FoldersService.DirectorySeparator)
            ? path[..^FoldersService.DirectorySeparator.Length]
            : path;

}
