@page "/"
@using Sortcery.Api.Contracts.Models
@inject HttpClient Http

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <table class="table table-sm table-hover">
    <thead>
    <tr>
      <th scope="col" style="width: 50%">Source</th>
      <th scope="col" style="width: 50%">
        <span>Destination</span>
        <button type="button" class="btn btn-primary btn-sm">Guess All</button>
        <button type="button" class="btn btn-success btn-sm">Link All</button>
      </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var link in links)
    {
      <tr>
        <td>
          <FileInfo File="link.Source"></FileInfo>
        </td>
        <td>
          @if (link.Targets.Count > 0)
          {
            @foreach(var target in link.Targets)
            {
              <FileInfo File="target"></FileInfo>
            }
          }
          else
          {
            <i>---</i>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
}

@code {
  private HardLinkInfo[] links;

  protected override async Task OnInitializedAsync()
  {
    links = await Http.GetFromJsonAsync<HardLinkInfo[]>("api/links");
  }
}
