@page "/"
@using Sortcery.Api.Contracts.Models
@using Microsoft.AspNetCore.WebUtilities
@inject HttpClient Http

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <table class="table table-sm table-hover">
    <thead>
    <tr>
      <th scope="col" style="width: 50%">Source</th>
      <th scope="col" style="width: 50%">
        <span>Destination</span>
        <button type="button" class="btn btn-primary btn-sm">Guess All</button>
        <button type="button" class="btn btn-success btn-sm">Link All</button>
      </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var link in links)
    {
      <tr>
        <td>
          <FileInfo File="link.Source"></FileInfo>
        </td>
        <td>
          @if (link.Targets.Count > 0)
          {
            @foreach(var target in link.Targets)
            {
              <FileInfo File="target"></FileInfo>
            }
          }
          else
          {
            <button type="button" class="btn btn-primary btn-sm" @onclick="async e => await GuessIt(link)">Guess It</button>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
}

@code {
  private HardLinkInfo[] links;

  private async Task GuessIt(HardLinkInfo link)
  {
    var query = QueryHelpers.AddQueryString("api/links", "filename", link.Source.RelativePath);
    var guessResponse = await Http.PostAsync(query, null);
    guessResponse.EnsureSuccessStatusCode();
    var guess = await guessResponse.Content.ReadFromJsonAsync<Sortcery.Api.Contracts.Models.FileInfo>();
    link.Targets.Add(guess);
  }

  protected override async Task OnInitializedAsync()
  {
    links = await Http.GetFromJsonAsync<HardLinkInfo[]>("api/links");
  }
}
